@import '../../style-params.styl';

::ng-deep .highlightText {
  color: #0D49B0;
}

.right ::ng-deep .highlightText {
  color: #4EB454;
}

.wrong ::ng-deep .highlightText {
  color: #FF5261;
}

.questionText {
  font-family: $serif-font-family;
  font-size: 3rem;
  font-weight: 900;
  overflow-y: auto;
  overflow-x: hidden;
  height: 60vh;
  padding: 0px 12px 12px;
}

.Question__body {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px, rgb(229, 229, 229) 0px 0px 0px 1px;
  margin: 0px 1px 15px;
  border-radius: 4px;
}
