<div *ngIf="question">
  <div>
    <p
      [innerHTML]="answered ? question.correctText : question.questionText"
      [ngClass]="getAnswerClasses()"
      class="questionText"
    ></p>

    <div *ngIf="!answered && needHelp"><span>Подсказка: </span>{{ question.helpMessage }}</div>
    <div class="Question__body">
      <div *ngFor="let button of question.buttons">
        <app-game-button [button]="button" [answered]="answered" (OnAnswered)="answer($event)"></app-game-button>
      </div>
    </div>
  </div>
</div>
