.topPanel {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

:host {
  width: 100%;
}

.game__close {
  padding-top: 3px;
  cursor: pointer;
}

.game__close:focus, .game__close:active:focus {
  outline: none;
}

.close_icon {
  width: 2.5rem;
  height: 2.5rem;
}
