.dash {
    display: inline-block;
    background-color: #f9df86;
    width: 1em;
    height: 0.7em;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
  }

.selected {
    background-color: #FFC500;
  }

.selected::after{
    content: '';
    position: absolute;
    width: 70%;
    height: 3px;
    background: #000;
    top: 50%;
    left: 15%;
  }
