<div *ngIf="question" class="main-content">
  <div class="questionText">
    <div style="margin: auto;">
      <p [innerHTML]="answered ? question.correctText : question.questionText" [ngClass]="getAnswerClasses()"></p>
      <div class="svgBlock">
        <app-svg-icon [name]="iconName"></app-svg-icon>
      </div>
      <p class="small" [innerHTML]="question.author"></p>
    </div>
  </div>

  <p *ngIf="!answered" class="timer">{{ timeLeft }} секунд осталось...</p>
  <p *ngIf="answered && timeLeft === 0 && rightAnswer != true" class="timer wrong">{{ 'Время вышло' }}</p>

  <div *ngIf="!answered && needHelp"><span>Подсказка: </span>{{ question.helpMessage }}</div>
  <div class="Question__body" *ngIf="question.buttons.length > 0">
    <div *ngFor="let button of question.buttons">
      <app-game-button
        #btn
        [button]="button"
        [answered]="answered"
        (OnAnswered)="answer($event)"
        (OnNext)="next()"
      ></app-game-button>
    </div>
  </div>
</div>
