<p *ngIf="timeLeft && !answered">{{ timeLeft }} секунд осталось...</p>
<div *ngIf="question" [ngClass]="rightAnswer ? 'right' : 'wrong'">
  <h1 *ngIf="!answered" [innerHTML]="question.questionText"></h1>
  <h1 *ngIf="answered" [innerHTML]="question.correctText"></h1>

  <div *ngIf="answered" class="resultText">
    {{ rightAnswer ? 'Верно' : 'Неверно' }}
  </div>
  <div *ngIf="answered">{{ question.ruleInfo }}</div>
</div>
<div *ngIf="!answered && needHelp"><span>Подсказка: </span>{{ question.helpMessage }}</div>
<div id="buttons" *ngIf="!answered">
  <button (click)="answer(false)">Нужна запятая</button>
  <button (click)="answer(true)">Не нужна запятая</button>
  <button class="button-secondary" (click)="help()">Взять подсказку</button>
</div>

<button *ngIf="answered" (click)="next()">Следующий вопрос</button>
