<div *ngIf="question">
  <div>
    <p *ngIf="!answered" [innerHTML]="question.questionText" class="questionText"></p>
    <p
      *ngIf="answered"
      [ngClass]="rightAnswer ? 'right' : 'wrong'"
      [innerHTML]="question.correctText"
      class="questionText"
    ></p>

    <p *ngIf="!answered && timeLeft >= 0" class="timer">{{ timeLeft }} секунд осталось...</p>

    <div *ngIf="!answered && needHelp"><span>Подсказка: </span>{{ question.helpMessage }}</div>
    <div class="Question__body">
      <div *ngFor="let button of question.buttons">
        <app-game-button [button]="button" [answered]="answered" (OnAnswered)="answer($event)"></app-game-button>
      </div>
    </div>
  </div>
</div>
