
@import '../../style-params.styl';

.secondary {
  color: #858585;
}

.container {
  max-width: 700px;
}

.questionPart {
  width: 100%;
}

.footer-wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen, (min-height: 850px), (min-width: 500px) {
  .footer-wrap {
    // position: absolute;
  }
}

@media only screen and (min-width: 370px) {
  .playAgain:after {
    content: 'на новых примерах';
    position: absolute;
    right: -110px;
    top: 13px;
    color: black;
    font-size: 10px;
  }
}
