
@import '../../style-params.styl';

$main-margin = 1.5rem;

.game-nav {
  padding: $main-margin;
  margin: $main-margin $main-margin 0 0;
  border-radius: 8px;
  background-color: #fff;
  flex: 1 1 270px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  box-shadow: $main-shadow;
  border: $border;
}

.game-nav:hover {
  border: $border-hover;
}

.game-nav:focus, .game-nav:active:focus {
  outline: none;
}

.container {
  justify-content: space-between;
}

button {
  margin: 1.5rem 0 0;
  align-self: flex-start;
}

.svgBlock {
  margin: 2rem;
}

@media only screen and (min-width: 32em) {
  .svgBlock {
    margin: 3rem;
  }
}
