<h1>Пушкин</h1>
<p class="lid">
  Тренажер грамотности на примерах из литературы. Читайте литературные произведения и оттачивайте свою грамотность.
</p>

<p class="lid">Выберите тему:</p>
<nav>
  <div class="game-nav filled">
    <h3>Запятая перед как</h3>
    <p>ставится в сравнениях и вводных конструкциях, не ставится в фразеологизмах, между подлежащим и сказуемым.</p>
    <button routerLink="/comma" type="button">Потренироваться</button>
  </div>
  <div class="game-nav filled">
    <h3>Вводные</h3>
    <p>
      выделяюся запятыми. Например, слово «например». А есть слова, которые часто путают с вводными. Их выделять не
      надо. Слово «обычно» обычно не выделяется.
    </p>
    <button routerLink="/timer" type="button">Попробовать</button>
  </div>
  <div class="game-nav filled">
    <h3>Тире</h3>
    <p>
      ставится в неполных предложениях, иногда — между подлежащим и сказуемым. А когда не ставится?
    </p>
    <button routerLink="/dash" type="button">Проверить себя</button>
  </div>
</nav>
