<h1>Корректор</h1>
<p class="lid">
  Когда знаки препинания зависят от смысла, компьютер не замечает ошибку, а человек — может. Попробуйте сами.
</p>
<nav>
  <div class="game-nav filled">
    <h2>Запятая перед как</h2>
    <p>ставится в сравнениях и вводных конструкциях, не ставится в фразеологизмах, между подлежащим и сказуемым.</p>
    <a routerLink="/comma-game"><button>Потренироваться</button></a>
  </div>
  <div class="game-nav">
    <h2>Вводные</h2>
    <p>
      выделяюся запятыми. Например, слово «например». А есть слова, которые часто путают с вводными. Их выделять не
      надо. Слово «обычно» обычно не выделяется.
    </p>
    <a routerLink="/timer-game"><button>Попробовать</button></a>
  </div>
  <div class="game-nav filled">
    <h2>Тире</h2>
    <p>
      ставится в неполных предложениях, иногда — между подлежащим и сказуемым. А когда не ставится?
    </p>
    <a routerLink="/dash-game"><button>Проверить себя</button></a>
  </div>
</nav>
