
@import '../../style-params.styl';

$main-margin = 1.5rem;

.game-nav {
  margin: $main-margin 0 0 0;
  border-radius: 8px;
  background-color: #fff;
  flex: 1;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  box-shadow: $main-shadow;
  border: $border;
}

.textBlock {
  padding: $main-margin;
}

.howImage {
  background: url('../../assets/images/game-preview-first.min.png');
}

.timerImage {
  background: url('../../assets/images/game-preview-second.min.png');
}

.dashImage {
  background: url('../../assets/images/game-preview-third.min.png');
}

.instagram {
  background: url('../../assets/images/instagram-icon.png');
}

.subscribe-item {
  align-items: center;
  display: flex;
  margin: 10px 0 15px;
}

.telegram {
  // background: url('../../assets/images/telegram.png');
  background-color: #0088cc;
  border-radius: 40px;
  align-items: center;
  justify-content: center;
  color: white;
  display: flex;
  font-size: 1.5rem;
}

.social {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.share-block, .subscribe-block {
  flex: 1;
}

.game-preview {
  display: none;
  background-size: contain;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 200px;
  padding: 0;
  margin-top: 8px;
  // border-radius: 6px 6px 0 0;
}

.game-nav:hover {
  border: $border-hover;
}

.disabled:hover {
  // border: $border;
  cursor: default;
}

.game-nav-disabled:hover {
  border: $border;
  cursor: default;
}

.game-nav:focus, .game-nav:active:focus {
  outline: none;
}

.flex-end {
  justify-self: flex-end;
  margin-top: auto;
}

button {
  margin: 1.5rem 0 0;
  align-self: flex-start;
}

.svgBlock {
  margin: 2rem;
}

.svgBlock ::ng-deep svg {
  height: 32px;
}

.flexbox {
  flex-wrap: nowrap;
  flex-direction: column;
}

.nowrap {
  flex-wrap: nowrap;
}

.footer {
  margin-top: 50px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  width: 100%;
}

@media only screen and (min-width: 1100px) {
  .footer {
    align-items: flex-end;
    flex-direction: row;
  }

  .svgBlock {
    margin: 3rem;
  }

  .game-nav {
    margin: $main-margin $main-margin 0 0;
  }

  .game-nav:last-child {
    margin: 1.5rem 0 0 0;
  }

  .flexbox {
    flex-direction: row;
    width: 100%;
  }

  .subscribe-block {
    border-right: $border;
    margin-right: 20px;
  }

  .game-preview {
    display: block;
    border-bottom: $border;
  }
}

.flex-column {
  flex-direction: column;
}

.game-preview ::ng-deep .questionText {
  margin: 0;
  border: none;
  overflow-y: hidden;
}

.game-preview ::ng-deep .questionText {
  font-size: $font-size--h3;
}

.game-preview ::ng-deep .main-content .svgBlock svg {
  height: 10px;
}

.game-preview ::ng-deep .main-content {
  height: 100%;
}

.bigvenzel ::ng-deep svg {
  height: 60px;
}
