<h1>Пушкин</h1>
<p class="lid">
  Тренажер грамотности на примерах из литературы. Читайте литературные произведения и оттачивайте свою грамотность.
</p>
<nav>
  <h2>Выберите тему:</h2>
  <div class="game-nav filled">
    <h3>Запятая перед как</h3>
    <p>ставится в сравнениях и вводных конструкциях, не ставится в фразеологизмах, между подлежащим и сказуемым.</p>
    <a class="button-link" routerLink="/comma-game"><button>Потренироваться</button></a>
  </div>
  <div class="game-nav filled">
    <h3>Вводные</h3>
    <p>
      выделяюся запятыми. Например, слово «например». А есть слова, которые часто путают с вводными. Их выделять не
      надо. Слово «обычно» обычно не выделяется.
    </p>
    <a class="button-link" routerLink="/timer-game"><button>Попробовать</button></a>
  </div>
  <div class="game-nav filled">
    <h3>Тире</h3>
    <p>
      ставится в неполных предложениях, иногда — между подлежащим и сказуемым. А когда не ставится?
    </p>
    <a class="button-link" routerLink="/dash-game"><button>Проверить себя</button></a>
  </div>
</nav>
