
::ng-deep .highlightText {
  color: #0D49B0;
}

.right ::ng-deep .highlightText {
  color: #4EB454;
}

.wrong ::ng-deep .highlightText {
  color: #FF5261;
}

.wrapper {
  padding: 12px;
}

.questionText {
  font-family: $serif-font-family;
  font-size: 3rem;
  font-weight: 900;
  overflow-y: auto;
  overflow-x: hidden;
  height: 60vh;
  padding: 0px 12px 12px;
}
