<div [ngClass]="answered ? 'answered' : ''" class="wrapper">
  <h1 *ngIf="textParts" class="questionText">
    <!-- <ng-template ngFor let-item [ngForOf]="textParts" let-i="index" [ngForTrackBy]="trackByFn"> -->
    <ng-template ngFor let-item [ngForOf]="textParts" let-i="index">
      <span *ngIf="item.value != '+' && item.value != '-'">{{ item.value }}</span>
      <app-dash
        #dash
        *ngIf="item.value === '+' || item.value === '-'"
        [needed]="item.value === '+'"
        [answered]="answered"
        [selected]="false"
      ></app-dash>
    </ng-template>
  </h1>

  <div class="actionsBox">
    <div *ngIf="!answered">
      <span>Подсказка: </span>Поставьте тире, там где они нужны. Бывает что тире не нужно ставить нигде.
    </div>

    <div *ngIf="answered" [ngClass]="rightAnswer ? 'right' : 'wrong'">
      <div *ngIf="answered" class="highlightText">
        {{ rightAnswer ? 'Верно' : 'Неверно' }}
      </div>
      <div *ngIf="answered">{{ rightAnswer ? question.trueRuleInfo : question.falseRuleInfo }}</div>
    </div>
  </div>
</div>
