<div *ngIf="question" [ngClass]="answered ? 'answered' : ''" class="main-content">
  <div class="questionText">
    <div style="margin: auto;">
      <p *ngIf="textParts">
        <!-- <ng-template ngFor let-item [ngForOf]="textParts" let-i="index" [ngForTrackBy]="trackByFn"> -->
        <ng-template ngFor let-item [ngForOf]="textParts" let-i="index">
          <span *ngIf="item.value != '+' && item.value != '-'" [innerHTML]="item.value"></span>
          <app-dash
            #dash
            *ngIf="item.value === '+' || item.value === '-'"
            [needed]="item.value === '+'"
            [answered]="answered"
            [selected]="false"
          ></app-dash>
        </ng-template>
      </p>
      <div class="svgBlock">
        <app-svg-icon [name]="iconName"></app-svg-icon>
      </div>
      <p class="small" [innerHTML]="question.author"></p>
    </div>
  </div>

  <div class="actionsBox" *ngIf="!isPreview">
    <div *ngIf="!answered">
      Кликните по прямоугольнику, если на его место нужно тире. Когда расставите все тире, проверьте себя.
    </div>

    <div *ngIf="answered">
      <div *ngIf="answered" [ngClass]="rightAnswer ? 'right' : 'wrong'">
        {{ rightAnswer ? 'Верно' : 'Неверно' }}
      </div>
      <div *ngIf="answered" [innerHTML]="rightAnswer ? question.trueRuleInfo : question.falseRuleInfo"></div>
    </div>
  </div>
</div>
