$color-primary = #333;
$color-primary-hover = #000;
$color-secondary = #0D49C0;
$color-secondary-hover = #0D49FF;
$color-right = #5cb85c;
$color-wrong = #d9534f;
$color-on-dark = #ffffff;
$color-background = #F5F5F5;
$color-gray = #888888;
$font-size = 1rem;
$font-size--h1 = 8rem;
$font-size--h1-small-device = 5rem;
$font-size--h2 = 1.75rem;
$font-size--h3 = 1.375rem;
$font-size--small = 0.875rem;
$line-height = 1.375em;
$font-family = 'Roboto', Helvetica, sans-serif;
$serif-font-family = 'Crimson', serif;
$screen-xs = 0;
$screen-sm = 480px;
$screen-md = 768px;
$screen-lg = 992px;
$screen-xl = 1200px;
$blur = 0px;
// $main-shadow = rgba(0, 0, 0, 0.1) 0px 1px 2px 0px, rgb(229, 229, 229) 0px 0px 0px 1px;
$main-shadow = 0 4px 8px rgba(0, 0, 0, 0.1);
$border = 1px solid #D9DDE3;
$border-hover = 1px solid $color-secondary-hover;
$border-radius = 4px;
