@import '~@ngx-share/button/themes/default/default-theme.css';

$main-color = #333
$main-color-hover = #000
$color-secondary = #0D49B0
$color-secondary-hover = #0D49F0
$color-right = #5cb85c
$color-wrong = #d9534f
$color-on-dark = #ffffff;

$font-size = 1.1rem
$font-size--h1 = 3rem
$font-size--h2 = 1.75rem
$font-size--h3 = 1.25rem
$font-size--small = 0.75rem
$line-height = 1.375em
$font-family = 'Roboto', Helvetica, sans-serif;

$screen-xs = 0
$screen-sm = 480px
$screen-md = 768px
$screen-lg = 992px
$screen-xl = 1200px

/* Application-wide Styles */
h1 {
  font-size: $font-size--h1;
  font-weight: 900;
  line-height: $line-height;
  margin: 0.875rem 0;
}
h2
{
  color: #444;
  font-weight: lighter;
  font-size: $font-size--h2;
  line-height: $line-height;
  margin-block-end: 0.6rem;
}

body {
  margin: 2em;
  max-width: 600px;
}
body, input[type="text"]{
  color: #888;
}

.lid, h3 {
  font-size: $font-size--h3;
  line-height: $line-height;
  margin-block-end: 0.3rem;
}

p {
    margin: 0.6rem 0;
    line-height: 1.4rem;
}

/* everywhere else */
* {
  color: $main-color;
  font-family: 'Roboto', Helvetica, sans-serif;
}

button {
  background-color: $main-color;
  color: $color-on-dark;
  border: none;
  padding: 0.4rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  margin: $font-size--h3 0;
  display: block;
  font-size: $font-size--h3;
  text-decoration: none;
}

button:hover {
  background-color: $main-color-hover;
}

.button-secondary {
  background-color: $color-secondary;
}
.button-secondary:hover {
  background-color: $color-secondary-hover;
}


