@import '~@ngx-share/button/themes/default/default-theme.css';

/* Application-wide Styles */
h1 {
  color: #369;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: 'Roboto', Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[type="text"]{
  color: #888;
  font-family: 'Roboto', Helvetica, sans-serif;}
/* everywhere else */
* {
  font-family: 'Roboto', Helvetica, sans-serif;
}

button {
  background-color: #333333;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
  margin: 10px 0;
  display: block;
  font-size: 1.2em;
}

button:hover {
  background-color: #000;
}

.button-secondary {
  background-color: #0D49B0;
}
.button-secondary:hover {
  background-color: #0D49F0;
}


