<div class="Answer__root" [ngClass]="getAnswerClasses()" role="button" tabindex="-1" (click)="clickButton()">
  <div class="Answer__headline">
    <div class="Answer__text">
      <div class="Answer__title" [innerHTML]="button.name"></div>
    </div>
  </div>
  <div class="Answer__text" *ngIf="selected">
    <div class="Answer__comment">
      <p
        class="RawHTMLBlock-SimpleBlock-SimpleBlock__p RawHTMLBlock-SimpleBlock-SimpleBlock__isInAnswer"
        [innerHTML]="button.ruleInfo"
      ></p>
    </div>
  </div>
</div>
