
.Answer__root {
  padding: 12px 10px 13px 15px;
  position: relative;
  width: 100%;
  cursor: pointer;
  text-align: left;
  background-color: rgb(255, 255, 255);
  // box-shadow: rgb(229, 229, 229) 0px -1px inset;
  -webkit-appearance: none;
  margin: 0px;
  padding: 13px 12px 12px;
  border-width: 0px;
  border-radius: 0px;
  outline: none;
}

.Answer__selected {
  z-index: 1;
  cursor: default;
  pointer-events: none;
  background: rgb(245, 245, 245);
}

.Answer__root::after {
  position: absolute;
  top: -1px;
  bottom: 0px;
  left: -1px;
  width: 4px;
}

.Answer__disabled {
  pointer-events: none;
}

.Answer__incorrect .Answer__title {
  color: rgb(179, 45, 45);
}

.Answer__incorrect::after {
  content: '';
  background-color: rgb(179, 45, 45);
}

.Answer__correct .Answer__title {
  color: rgb(78, 180, 84);
}

.Answer__disabled .Answer__title {
  opacity: 0.5;
  color: rgb(0, 0, 0);
}

.Answer__correct::after {
  content: '';
  background-color: rgb(78, 180, 84);
}

.Answer__headline {
  flex-flow: row nowrap;
  display: flex;
}
