<h2>Запятая перед как</h2>
<a href="main"><div>В главное меню</div></a>
<span>Тест. Вопрос {{ question.id }}/10</span>
<div *ngIf="question">
  <h1 *ngIf="answered == false">{{ question.questionText }}</h1>
  <h1 *ngIf="answered == true">{{ question.correctText }}</h1>
  <div *ngIf="answered == true">{{ question.ruleInfo }}</div>
</div>
<div *ngIf="answered == false && needHelp == true"><span>Подсказка: </span>{{ question.helpMessage }}</div>
<div id="buttons" *ngIf="answered == false">
  <button (click)="answer(true)">Нужна запятая</button>
  <button (click)="answer(false)">Не нужна запятая</button>
  <button class="button-secondary" (click)="help()">Взять подсказку</button>
</div>

<button *ngIf="answered == true" (click)="next()">Следующий вопрос</button>
