<div *ngIf="question">
  <div *ngIf="!answered">
    <h1 [innerHTML]="question.questionText"></h1>
    <div *ngIf="!answered && needHelp"><span>Подсказка: </span>{{ question.helpMessage }}</div>
    <div *ngIf="question" id="buttons">
      <button (click)="answer(true)">{{ question.trueBtnText }}</button>
      <button (click)="answer(false)">{{ question.falseBtnText }}</button>
      <button class="button-secondary" (click)="help()">Взять подсказку</button>
    </div>
  </div>
  <div *ngIf="answered" [ngClass]="rightAnswer ? 'right' : 'wrong'">
    <h1 *ngIf="answered" [innerHTML]="question.correctText"></h1>

    <div *ngIf="answered" class="highlightText">
      {{ rightAnswer ? 'Верно' : 'Неверно' }}
    </div>
    <div *ngIf="answered">{{ rightAnswer ? question.trueRuleInfo : question.falseRuleInfo }}</div>

    <button *ngIf="answered" (click)="next()">Следующий вопрос</button>
  </div>
</div>
